<head>
    <base href="/">
    <title>{{title}}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{description}}" />
 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>