<html>
    {{include 'head' head}}
    <body>
        {{include 'header' header}}
        
        <div class="main">
            {{include 'article' body.latestNews}}
        </div>

        {{include 'footer' footer}}
    </body>
</html>